/*
 * You can just delete everything here or keep whatever you like, it's just a
 * quick baseline!
 */
:root {
  --color-foreground: hsl(252, 7%, 14%);
  --color-background: hsl(0, 0%, 93%);
  --color-background-shadow: hsl(0, 0%, 50%, 0.2);
  --color-background-gradient: linear-gradient(
    to top,
    #accbee 0%,
    #e7f0fd 100%
  );
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(181, 100%, 41%);
  --color-red: #bd0817;
  --color-green: #1bff62;
  --rounded: 0.7rem;
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
  text-underline-offset: 3px;
}

button {
  font-weight: bold;
  padding: 1rem 2.8rem;
  font-size: 1rem;
  color: currentColor;
  background: inherit;
  border-radius: var(--rounded);
  border-color: var(--color-border);
  letter-spacing: 0.03rem;
  margin: 0.8em 0;
  cursor: pointer;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul,
ol,
li {
  list-style: none;
}

textarea,
input:where([type='text']),
input:where([type='search']) {
  display: block;
  border: 1px solid var(--color-border);
  width: 100%;
  font: inherit;
  line-height: 1;
  height: calc(1ch + 1.5em);
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin: 0.5em 0;
  background-color: hsl(0 0% 100% / 20%);
  color: var(--color-foreground);
  border-radius: 0.2em;
}

pre {
  background: var(--color-background-shadow);
  margin-left: 1ch;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 2ch 3ch;
  border-left: 0.5ch solid var(--color-border);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --gutter: 16px;
  width: 1024px;
  max-width: calc(100% - var(--gutter) * 2);
  margin-right: auto;
  margin-left: auto;
}

.remix-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
  width: 100%;
}

.remix-app__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.remix-app__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remix-app__header-content div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remix-app__main {
  flex: 1 1 100%;
}

.remix-app__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.remix-app__footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remix__page {
  --gap: 1rem;
  --space: 2rem;
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap);
  margin-top: var(--space);
  margin-bottom: var(--space);
}

@media print, screen and (min-width: 640px) {
  .remix__page {
    --gap: 2rem;
    grid-auto-rows: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .remix__page {
    --gap: 4rem;
  }
}

.remix__page > main > :first-child {
  margin-top: 0;
}

.remix__page > main > :last-child {
  margin-bottom: 0;
}

.remix__page > aside {
  margin: 0;
  padding: 1.5ch 2ch;
  border: solid 1px var(--color-border);
  border-radius: var(--rounded);
  max-width: 400px;
}

.remix__page > aside > hr {
  margin: 0 0.93ch;
}

.remix__page > aside > :first-child {
  margin-top: 0;
  margin-bottom: 0.93ch;
  text-align: center;
}

.remix__page > aside > :last-child {
  margin-bottom: 0;
}

@media print, screen and (max-width: 1024px) {
  .remix__page > aside {
    margin-top: var(--gap);
    max-width: unset;
  }
}

.remix__page__reminder {
}

.remix__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
}

.remix__form > * {
  margin-top: 0;
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: hsl(216, 4.1%, 75.9%);
    --color-background: hsl(252, 7%, 14%);
    --color-background-secondary: #282a37;
    --color-background-shadow: #3437484f;
    --color-background-gradient: linear-gradient(
      135deg,
      #181052,
      #1e1255,
      #241558,
      #2b175b,
      #311a5d,
      #381d60,
      #3e2062,
      #452464,
      #4b2766,
      #512a68,
      #572e69,
      #5c326b
    );
    --color-links: hsl(213, 100%, 73%);
    --color-links-hover: hsl(213, 100%, 80%);
    --color-red: #bd0817;
    --color-green: #1bff62;
  }
}
