blockquote {
  padding: 1.5em 0.7em;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.task-root__container {
  border-radius: var(--rounded);
}

.task-header__container {
  display: grid;
  grid-template-columns: 3em 3em 1fr;
  align-items: center;
  margin: 0.5em 0;
  justify-items: center;
  align-items: center;
  text-transform: capitalize;
}

.task-header__container > h3 {
  justify-self: start;
  font-size: 1.375rem;
  letter-spacing: 0.008em;
  margin: 0.5em 0 0.5em 0.3em;
}

.task-root__container:where([data-state='true']) {
  background: var(--color-foreground);
  opacity: 0.23;
  color: var(--color-background-shadow);
}

.task-root__container:where([data-state='false']) {
  background: var(--color-background-shadow);
}

[data-reach-disclosure-button] {
  padding: 0.5rem 0.6rem;
  justify-self: center;
  margin: 0.5em 0;
}

[data-reach-disclosure-panel] {
  border-end-end-radius: var(--rounded);
  border-end-start-radius: var(--rounded);
}

[data-reach-disclosure-panel][data-state='open'] {
  background: var(--color-background-shadow);
  opacity: 1;
}

[data-reach-disclosure-panel][data-state='collapsed'] {
  opacity: 0;
  overflow: hidden;
  height: 0;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .slide-down[data-reach-disclosure-panel],
  .slide-down[data-reach-disclosure-panel] {
    animation: slide-down 0.3s ease;
  }
}

@media (prefers-color-scheme: no-preference) {
  .task-root__container:where([data-state='true']) {
    color: gray;
  }
}
@media (prefers-color-scheme: light) {
  .task-root__container:where([data-state='true']) {
    color: gray;
  }
}
